<h1>Projects</h1>
<%= link_to "New Project", new_project_path %>

<div id="projects">
  <% @projects.each do |project| %>
    <h2><%= link_to project.name, project %></h2>
    <p>
      <%= project.description %>
    </p>
  <% end %>
</div>  
